[Unit]
Description=BeatBattleBot - Discord.js beat battle organizer
Documentation=https://github.com/jakerunsdnd/beatbattlebot
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
WorkingDirectory=/opt/deploy/beatbattlebot
ExecStart=/usr/bin/node bot.js >> /opt/deploy/beatbattlebot/LOGFILE
Restart=on-failure
RestartSec=30s
#Only available in systemd 236+
#StandardOutput=file:/var/log/bot.log
#StandardError=file:/var/log/bot.err

[Install]
WantedBy=default.target
